<script>
import   Navbar  from '$lib/components/navbar.svelte'
import Hero from '$lib/components/hero.svelte'
import TrainingPrograms from '$lib/components/training_programs.svelte'
import WhoWeAre from '$lib/components/who_we_are.svelte';
import EthProject from '$lib/components/eth_project.svelte';
import WhatWeDo from '$lib/components/what_we_do.svelte';
import Partners from '$lib/components/partners.svelte';
import Footer from '$lib/components/footer.svelte';
</script>

<Navbar />
<Hero />
<Partners />
<TrainingPrograms />
<EthProject />
<WhoWeAre />
<WhatWeDo />
<Footer />

