<script>
  import  logo  from '$lib/assets/wcv_logo.png'
</script>
<div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
        </label>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <li><a href="/">Home</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/impact">Impact</a></li>
          <li>
            <a>Socials</a>
            <ul class="p-2">
              <li><a href="https://www.facebook.com/WorldCardiac">Facebook</a></li>
              <li><a href="https://twitter.com/WorldCardiac">Twitter</a></li>
              <li><a href="https://www.linkedin.com/company/world-cardiac-vision/">LinkedIn</a></li>
              <li><a href="https://www.instagram.com/worldcardiac.vision/">Instagram</a></li>
              <li><a href="https://www.youtube.com/channel/UCKpI8tz_ToAkfQff4Jw31UQ">Youtube</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <a href="/" class="normal-case text-xl">
        <img src={logo} alt="World Cardiac Vision Logo" class="w-28 md:w-32 lg:w-48 my-auto object-cover p-4 rounded">
      </a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
          <li><a href="/">Home</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/impact">Impact</a></li>
        <li tabindex="0">
          <details>
            <summary>Socials</summary>
            <ul class="p-2">
              <li><a href="https://www.facebook.com/WorldCardiac">Facebook</a></li>
              <li><a href="https://twitter.com/WorldCardiac">Twitter</a></li>
              <li><a href="https://www.linkedin.com/company/world-cardiac-vision/">LinkedIn</a></li>
              <li><a href="https://www.instagram.com/worldcardiac.vision/">Instagram</a></li>
              <li><a href="https://www.youtube.com/channel/UCKpI8tz_ToAkfQff4Jw31UQ">Youtube</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
    <div class="navbar-end">
      <a href="/contact" class="btn">Contact</a>
    </div>
  </div>