<div class="carousel rounded-box">
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div> 
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div> 
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div> 
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div> 
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div> 
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div> 
    <div class="carousel-item">
      <img src="https://placehold.co/600x400" alt="Burger" />
    </div>
  </div>