<h1 class="text-5xl font-bold">What we do</h1>
<div class="join join-vertical lg:join-horizontal">
    <div class="join-item card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
        <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      </div>
    
      <div class="join-item card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
        </div>
        <figure><img src="/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
      </div>
 </div>